<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
      <script src="~/js/site.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/bootstrap-5.0.2-dist/css/bootstrap.min.css" />
     <link rel="stylesheet" href="~/css/styles.css" />
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
</head>
<body class="mx-auto">
    <div class="container-fluid  my-3 bg-dark text-white">
       
        <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <nav class="navbar navbar-expand-sm bg-info text-black" id="navmenubox">
                 <ul class="navbar-nav text-white">

                         <li>   
                             <a class="nav-link" id="menulogo" asp-controller="People" asp-action="Index">
                                <img alt="logo" src="@Url.Content("~/pictures/nature2.jpg")">
                            </a>         
                         </li>  
                         <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Index", "People")">HOME PAGE</a>
                        </li>
                          <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Ajax" asp-action="Index">Ajax</a> 
                        </li>
                    </ul>
            </nav>
       </div>
       </div>

       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div>
                    @RenderBody()
                </div>
        </div>

    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
        <footer class="navbar navbar-expand-sm bg-info"   >
            <span style="padding-left:240px" >&#64;Ramya Talagavadi Kalegowda&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-primary" href="#">Back To Top</a></span>
        </footer>
    </div>
</div> <!--Container End-->
</body>
</html>
